{% extends '../base.html' %}

{% block content %}


<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
				
					<h1>Buy & Sell Near You </h1>
					<p>Join the millions who buy and sell from each other <br> everyday in local communities around the world</p>
					{% comment %} <div class="short-popular-category-list text-center">
						<h2>Popular Category</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-bed"></i> Hotel</a></li>
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-grav"></i> Fitness</a>
							</li>
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-car"></i> Cars</a>
							</li>
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-cutlery"></i> Restaurants</a>
							</li>
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-coffee"></i> Cafe</a>
							</li>
						</ul>
					</div> {% endcomment %}
					
				</div>
				<!-- Advance Search -->
				<div class="advance-search">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-12 col-md-12 align-content-center">
										<form>
											<div class="form-row">
												
												<div class="form-group col-md-3">
												<label for="id_owner">Owner:</label> 
													<select class="w-100 form-control mt-lg-1 mt-md-2" name="owner" id="id_owner">
														
														  <option value="" selected>All</option>
													<option value="1">jaydeep</option>
													<option value="2">admin</option>
													<option value="3">jay</option>
													<option value="4">bhautik</option>
													<option value="5">navnitbhai</option>
													</select>
												</div>

												<div class="form-group col-md-3">
												<label for="id_ripe">Ripe:</label>
													<select class="w-100 form-control mt-lg-1 mt-md-2" name="ripe" id="id_ripe">
  													<option value="" selected>All</option>
													<option value="yes">yes</option>
 													 <option value="no">no</option>
													</select>
												</div>

												<div class="form-group col-md-3">
												<label for="id_pkgd_at">packege created at:</label> 
													<input type="text" name="pkgd_at" id="id_pkgd_at" class="form-control my-2 my-lg-1"  placeholder="created at">
												</div>
												
												<div class="form-group col-md-3">
													<label for="id_price">Price:</label>
													<input type="number" name="price" step="any" id="id_price" class="form-control my-2 my-lg-1"  placeholder="Price">
												</div>

												<div class="form-group col-md-3">
													<label for="id_discount">Discount:</label> 
													<input type="number" name="discount" step="any" id="id_discount" class="form-control my-2 my-lg-1"  placeholder="Discount">
												</div>

												<div class="form-group col-md-2 align-self-center">
													<button type="submit" class="btn btn-primary">Search Now</button>
												</div>
											</div>
										</form>
									</div>
								</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>



<!--===========================================
=            Popular deals section            =
============================================-->
				    {% comment %} {{ filter.form.as_p }} {% endcomment %}

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Trending Mangoes</h2>
					<p>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- offer 01 -->
			<div class="col-lg-12">
				<div class="trending-ads-slide">
					<div class="col-sm-12 col-lg-4">
						<!-- product card -->

			{% for i in filter.qs %}
			{% if i.total_boxes > 0 %}
					</div>
					<div class="col-sm-12 col-lg-4">
						<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<!-- <div class="price">$200</div> -->
			<a href="{% url 'single_page' i.id %}">
				<img class="card-img-top img-fluid" src="{{i.photo1.url}}" alt="Card image cap">
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title"><a href="single.html">Farm: {{i.owner.farm_name}}</a></h4>
		    <ul class="list-inline product-meta">
		    	<li class="list-inline-item">
		    		<a href="single.html"><i class="fa fa-folder-open-o"></i>owner: {{i.owner.username}}</a>
		    	</li>
		    	<li class="list-inline-item">
		    		<a href="#"><i class="fa fa-calendar"></i>{{i.pkgd_at}}</a>
		    	</li>
		    </ul>
			{% if i.discount == 0 %}
		    <p class="card-text">Buy More and Get More it is owr moto for the customers</p>
		    {% else %}
		    <p class="card-text">Buy Upto {{i.limit}} boxes and Get Discount {{i.discount}}%</p>
			{% endif%}
			
		</div>
	</div>
</div>
	{% endif %}
	{% endfor %}

			

					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</section>
{% endblock %}