{% extends '../base.html' %}
{% block content %}

<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<h1 class="product-title">{{single.owner.farm_name}} {{single.Type_Of_Mango}}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">{{single.owner.username}}</a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i>Modified At <a href="">{{single.pkgd_at}}</a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a href="">{{single.owner.address}}</a></li>
						</ul>
					</div>

					<!-- product slider -->
					<div class="product-slider">
						<div class="product-slider-item my-4" data-image="{{single.photo1.url}}">
							<img class="img-fluid w-100" src="{{single.photo1.url}}" alt="product-img">
						</div> 
                        <div class="product-slider-item my-4" data-image="{{single.photo2.url}}">
							<img class="img-fluid w-100" src="{{single.photo2.url}}" alt="product-img">
						</div>
                        <div class="product-slider-item my-4" data-image="{{single.photo3.url}}">
							<img class="img-fluid w-100" src="{{single.photo3.url}}" alt="product-img">
						</div>
                         <div class="product-slider-item my-4" data-image="{{single.photo4.url}}">
							<img class="img-fluid w-100" src="{{single.photo4.url}}" alt="product-img">
						</div>
                         <div class="product-slider-item my-4" data-image="{{single.photo5.url}}">
							<img class="img-fluid w-100" src="{{single.photo5.url}}" alt="product-img">
						</div>
                         <div class="product-slider-item my-4" data-image="{{single.photo6.url}}">
							<img class="img-fluid w-100" src="{{single.photo6.url}}" alt="product-img">
						</div>

					</div>
					<!-- product slider -->

					<div class="content mt-5 pt-5">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
								 aria-selected="false">To Buy and see Product Specifications</a>
							</li>
							
						</ul>
						<div class="tab-content" id="pills-tabContent">
							
							<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Product Specifications</h3>
								<table class="table table-bordered product-table">
									<tbody>
										<tr>
											<td>Type Of Mango</td>
											<td>{{single.Type_Of_Mango}} GRADE</td>
										</tr>
										<tr>
											<td>Weight</td>
											<td>{{single.weigth}} K.G.</td>
										</tr>
										<tr>
											<td>Ripe</td>
											<td>{{single.ripe}}</td>
										</tr>
										<tr>
											<td>Packged At</td>
											<td>{{single.pkgd_at}}</td>
										</tr>
										<tr>
											<td>Price Per Box</td>
											<td>{{single.price}}</td>
										</tr>
										<tr>
											<td>Total Boxes</td>
											<td>{{single.total_boxes}}</td>
										</tr>
										<tr>
											<td>Discount</td>
											{% if single.total_boxes > single.limit %}
											<td>{{single.discount}}% On Above {{single.limit}} Boxes</td>
											{% else %}
											<td>Sorry You dont have Discount</td>
											{% endif %}
										</tr>
										<tr>
										<tr>
										<div class="widget coupon text-center">
											<!-- Coupon description -->
											
											<!-- Submii button -->
											<a href="{% url 'create_for_buy' single.id %}" class="btn btn-transparent-white">Shop this Product</a>
										</div>
										
										</tr>
									</tbody>
								</table>
							</div>
													</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="widget price text-center">
						<h4>Price</h4>
						<p>{{single.price}} Per Boxes</p>
					</div>
					<!-- User Profile widget -->
					<div class="widget user text-center">
						<img class="rounded-circle img-fluid mb-5 px-5" src="{{single.owner.profile_pic.url}}" alt="">
						<h4><a href="">{{single.owner.username}}</a></h4>
						<p class="member-time">Member since {{single.owner.date_joined}}</p>
						<a href="">See all products by this user</a>
                        <button class="btn btn-primary text-white" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            See Other Details Of Seller
                        </button>
                        <div class="collapse" id="collapseExample">
                        <div class="card card-body">
						<a href="">Farm Name: {{single.owner.farm_name}}</a>
                    <a href="">Contact: {{single.owner.contact}}</a>
                    <a href="">Address: {{single.owner.address}}</a>
                  <a href="">Email: {{single.owner.email}}</a>
                        
                          
                            
                        </div>
                        </div>
						{% comment %} <ul class="list-inline mt-20">
							<li class="list-inline-item"><a href="" class="btn btn-contact d-inline-block  btn-primary px-lg-5 my-1 px-md-3">Contact</a></li>
							<li class="list-inline-item"><a href="" class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">Make an
									offer</a></li>
						</ul> {% endcomment %}
					</div>
					<!-- Map Widget -->
					<div class="widget map">
						<div class="map">
							<div id="map_canvas" data-latitude="{{Latitude}}" data-longitude="{{Longitude}}"></div>
						</div>
					</div>
					<!-- Safety tips widget -->
					<div class="widget disclaimer">
						<h5 class="widget-header">Safety Tips</h5>
						<ul>
							<li>Meet seller at a public place</li>
							<li>Check the item before you buy</li>
							<li>Pay only after collecting the item</li>
						</ul>
					</div>
					<!-- Coupon Widget -->
					<div class="widget coupon text-center">
						<!-- Coupon description -->
						
						<!-- Submii button -->
						<a href="{% url 'index' %}" class="btn btn-transparent-white">Go Back</a>
					</div>
					

				</div>
			</div>

		</div>
	</div>
	<!-- Container End -->
</section>

{% endblock %}