{% extends '../base.html' %}
{% block content%}

<section class="ad-post bg-gray py-5">
    <div class="container">
        <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <!-- Post Your ad start -->
            {% comment %} <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Post Your Mangoes Sale</h3>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"> <label for="id_owner">Owner:</label></h6>
                           <select name="owner" required id="id_owner" >
                            <option value={{request.user.id}}>{{request.user.username}}</option>
                            </select>
                        {% csrf_token %}
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"> <label for="id_Type_Of_Mango">Type Of Mango:</label></h6>
                          <select name="Type_Of_Mango" id="id_Type_Of_Mango">
                            <option value="{{current.Type_Of_Mango}}" selected>{{current.Type_Of_Mango}}</option>
                            <option value="A">A</option>
                            <option value="B">B</option>

                            <option value="C">C</option>

                            </select>
                            </div>
                    <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_weigth">Weigth:</label></h6>
                         <select name="weigth" id="id_weigth">
                         <option value="{{current.weigth}}" selected>{{current.weigth}}</option>

                                 <option value="5" selected>5</option>

                                    <option value="10">10</option>

                        </select>
                    </div>
                    <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_ripe">Ripe:</label></h6>
                         <select name="ripe" id="id_ripe">
                        <option value="{current.ripe}}">{{current.ripe}}</option>
                        <option value="yes">yes</option>

                        <option value="no" >no</option>

                        </select>
                    </div>

                    <div class="col-lg-12">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_pkgd_at">Packed at:</label> </h6>
                          <input type="text" name="pkgd_at" value="{{current.pkgd_at}}" required id="id_pkgd_at"><input type="hidden" name="initial-pkgd_at" value="2020-11-02 03:17:29" id="initial-id_pkgd_at">

                    </div>
                    <br>
                    <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_photo1">Photo1*:</label> </h6>
                      <input type="file" name="photo1" accept="image/*" required id="id_photo1">
                    </div>
                     <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_photo2">Photo2*:</label> </h6>
                      <input type="file" name="photo2" accept="image/*" required id="id_photo2">
                    </div>
                     <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_photo3">Photo3*:</label> </h6>
                      <input type="file" name="photo3"  accept="image/*" required id="id_photo3">
                    </div>
                     <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_photo4">Photo4:</label> </h6>
                      <input type="file" name="photo4"  accept="image/*"  id="id_photo4">
                    </div>
                     <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_photo5">Photo5:</label> </h6>
                      <input type="file" name="photo5"  accept="image/*"  id="id_photo5">
                    </div>
                     <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_photo6">Photo6:</label> </h6>
                      <input type="file" name="photo6" value="{{current.photo6}}" accept="image/*"  id="id_photo6">
                    </div>
                    <hr>
                     <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_price">Price:</label> </h6>
                            <input type="number" name="price" value="{{current.price}}" required id="id_price" class="border w-100 p-2 bg-white text-capitalize">
                    </div>
                    <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_total_boxes">Total boxes:</label> </h6>
                            <input type="number" name="total_boxes" value="{{current.total_boxes}}" required id="id_total_boxes" class="border w-100 p-2 bg-white text-capitalize">
                    </div>
                    <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_limit">Limit (For giving Discount)<span class='text-secondary'> (if anyone buy more then Limit then you are ginving discount):</label> </h6>
                            <input type="number" name="limit" value="{{current.limit}}" required id="id_total_boxes" class="border w-100 p-2 bg-white text-capitalize">
                    </div>
                    <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"><label for="id_discount">Discount:</label></h6>
                            <input type="number" name="discount" value="{{current.discount}}" required id="id_discount" class="border w-100 p-2 bg-white text-capitalize">
                    </div>
                                            <button type="submit" class="btn btn-primary d-block mt-2">Post Your Sale</button>

                        </div>
                    </div>
            </fieldset> {% endcomment %}
            {{forms.as_p}}
             <button type="submit" class="btn btn-primary d-block mt-2">Post Your Sale</button>

            <!-- Post Your ad end -->
            </form>
            </div>
            </section>
{% endblock %}
